
<table mat-table class='details-table' [dataSource]="myDataArray">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell class="display-col" *matCellDef="let user">{{user.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell class="display-col" *matCellDef="let user">{{user.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell class="display-col" *matCellDef="let user">{{user.phoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell class="display-col" *matCellDef="let user">{{user.city}}</td>
    </ng-container>

    <ng-container matColumnDef="editBtnColumn">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell class="display-col" *matCellDef="let user;let userIndex=index">
            <button mat-stroked-button class="edit-btn" (click)="onEditClick(userIndex)">Edit</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="deleteBtnColumn">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell class="display-col" *matCellDef="let user;let userIndex=index">
            <button mat-stroked-button class="delete-btn" (click)="onDeleteClick(userIndex)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matRowCellDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let rowData;columns:columnsToDisplay"></tr>
</table>
