<div class="navigation-container">
    <div class="options-container">
        <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home"
    [routerLink]="['/form']" routerLinkActive="active-link"></mat-icon>
    
    <form [formGroup]="searchValue" (ngSubmit)="onSearch(searchValue)">
        <input matInput type="text" formControlName="search" >
        <button mat-button type="submit">Search</button>
    </form>
       
    </div>
    
    <div class="routes-container">
        <p class="navigation-option" [routerLink]="['/form']" routerLinkActive="active-link">New User</p>
        <p class="navigation-option" [routerLink]="['/details']" routerLinkActive="active-link">Users details</p>
    </div>
   
</div>
